<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
    <script src="lab7.js"></script>
    <style>
        table,th,tr,td{
            border: 2px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body ng-app="mycustomer">
    <div ng-controller="custcontrol">
      display rows  <input type="number" step="1" min="0" max="6" ng-model="rowlimit"> <br> <br>
        search <input type="text" placeholder="Search customer" ng-model="search"> <br> <br>
        enter number of character <input type="text" ng-model="limit"> <br>
      <table>
            <tr>

                <th>Name</th>
                <th>date</th>
                <th>gender</th>
                <th>charge</th>
                <th>city</th>
                <th>Room type</th>
                <th>No of persons</th>
                <th>age</th>
            </tr>
            <tbody>
                <tr ng-repeat="cust in customer|limitTo:rowlimit|filter:search | orderBy:SortOrder">
                    <td>{{cust.name|myfilter:limit}}</td>
                    <td>{{cust.dob|date:"dd/MM/yyyy"}}</td>
                    <td>{{cust.gender|lowercase}}</td>
                    <td>{{cust.charge|number:0}}</td>
                    <td>{{cust.city}}</td>
                    <td>{{cust.roomType}}</td>
                    <td>{{cust.totalpeople|myfilter2}}</td>
                    <td>{{cust.age|number|myfilter3}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</body>
</html>